{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="fundo">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="mt-4">
                    <legend class="border-bottom text-white my-4">Reset Password</legend>
                    <div class="text-white">{{ form|crispy }}</div>
                </div>
            </fieldset>
                <div class="form-group">
                    <button class="btn btn-indigo" type="submit">Request Password Reset</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}